/* .App {
	margin: 0 auto;
	max-width: 500px;
} */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.add-area {
	color: #ffffff;
	background-color: #212121;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.add-area:active {
	background-color: #111;
}
