.Search-area {
	background-color: rgb(53, 39, 38);
	color: rgb(241, 227, 226);
	padding: 15px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.Search-area h2 {
	margin: 0;
}

.Search-area p {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 5px;
}

#searchBox {
	color: #ffffff;
	background-color: #222;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 50px;
	border: solid #444 2px;
	width: 100%;
}

#searchBox:disabled {
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
